.nav-background {
  position: fixed;
  top: 0;
  color: black;
  background: rgba(255, 255, 255, 0.863);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 2;
}

.CAZZ-title {
  font-size: 200%;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.CAZZ-title:hover {
  text-decoration: none;
  font-weight: bolder;
}
.nav-link {
  color: black;
}
.navbar-toggler {
  /* box-shadow: 2px 2px 2px rgb(70, 70, 70); */
  color: rgb(221, 96, 23);
  /* background-color: rgb(194, 194, 194); */
  padding: 1%;
  min-width: 10%;
}
.navbar-home {
  font-weight: bolder;
  color: rgb(231, 98, 21);
}
.navbar-tshirts {
  font-weight: bolder;
  color: black;
}
.navbar-home:hover {
  color: rgb(255, 123, 0);
}

.navbar-tshirts:hover {
  color: darkcyan;
}
.navbar-cart-icon:hover {
  color: darkcyan !important;
}
.category-item:hover {
  color: rgb(236, 75, 26) !important;
  font-weight: bolder;
}

.profile-item:hover {
  color: rgb(15, 187, 107) !important;
  font-weight: bolder;
}

.logout-item:hover {
  color: rgb(231, 61, 9) !important;
  font-weight: bolder;
}

.dropdown-content {
  padding: 8px;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f0eeeee3;
  min-width: 136px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content option {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content select:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-items {
  padding-top: 1rem;
}

.navbar-category {
  display: none;
}

@media (max-width: 1079px) {
  .CAZZ-title {
    font-size: 200%;
    font-weight: bolder;
    padding-left: 0;
  }
}
